body {
    background-color: #f2edf5;
}
.is-active {
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6, p, a {
    color: #11001c;
}
header {
    width: 100%;
    height: 80px;
    background-color: #cbc0d3;
}
nav {
    width: 100%;
    margin: auto;
}
h1 {
    float: left;
    margin-left: 1rem;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
    font-size: 30px;
}
a {
    text-decoration: none;
}

.hamburger-menu {
    float: right;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 1rem;
    padding-left: 0;
}
header nav ul {
    float: right;
    font-size: 20px;
}
header nav ul li{
    float: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
   }

header nav li{
    float: left;
    list-style-type: none;
}
#menu-btn {
    float: right;
    color: #11001c;
}

@media screen and (max-width: 639px) { /* for smaller screens */
    .navShadow {
      box-shadow: 0px 7px 10px -10px #4c2b63;
    }
    .footerImgs {
        scale: 80%;
        margin: 0rem;
    }
    header {
        height: 60px;
    }
    h1 {
        margin: 0;
        font-size: 24px;
        margin-left: 1rem;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .about {
        padding-top: 5%;
    }
    #menu-btn{
        display: block;
        height: 30px;
        width: 100%;
    }
    .menu-button {
        max-width: 30px;
        margin-top: 1rem;
        margin-right: 1rem;
        background-image: url(/images/test.jpg);
        object-fit: cover;
    }
    nav ul {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #cbc0d3;
    }
    header nav ul{
        overflow: hidden;
        height: 0;
    }
    header nav ul.open{
        height: auto;
    }
    header nav ul li a{
        padding: 10px;
        display: block;
        width: 100%;
        margin: 0;    
    }
    .hamburger-menu {
        display: block;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}


.about {
    padding-top: 0;
}

.content-left {
    padding-left: 7.5%;
    padding-top: 5%;
}

.content-left p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile-img { 
    height: 100% auto;
    max-width: 40%;
    float: right;
    position: relative;
    padding: 5%;
    @media screen and (max-width: 639px) {
        max-width: 50%;
        }
}

.content-left a.button {
    margin-top: 5%;
    margin-left: 10%;
    scale: 100%;
    
    @media screen and (min-width: 415px) {
        margin-top: 20%;
    }
    @media screen and (min-width: 640px) {
        margin-top: 20%;
        margin-left: 15%;
        scale: 150%;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 22%;
        margin-left: 16%;
        scale: 175%;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 25%;
        margin-left: 18%;
        scale: 200%;
    }
}
.bg-img-white {
    position: relative;
    top: -7rem;
    @media screen and (min-width: 350px) {
        top: -7rem;
    }
    @media screen and (min-width: 500px) {
        top: -10rem;
    }
    @media screen and (min-width: 800px) {
        top: -14rem;
    }
    @media screen and (min-width: 1024px) {
        top: -20rem;
    }
    @media screen and (min-width: 1600px) {
        top: -30rem;
    }
    @media screen and (min-width: 2000px) {
        top: -45rem;
    }
}
.projects {
    position: relative;
    top: -12rem;
    @media screen and (min-width: 350px) {
        top: -12rem;
    }
    @media screen and (min-width: 500px) {
        top: -16rem;
    }
    @media screen and (min-width: 640px) {
        top: -18rem;
    }
    @media screen and (min-width: 800px) {
        top: -24rem;
    }
    @media screen and (min-width: 1024px) {
        top: -30rem;
    }
    @media screen and (min-width: 1600px) {
        top: -45rem;
    }
    @media screen and (min-width: 2000px) {
        top: -60rem;
    }
}

h3 {
    width: 80%;
    text-align: right;
}
.featured-projects {
    background-color: #fcfbfe;
}
.featured-project {
    border-radius: 30px;
    border: 1px solid #4c2b63;
    background-color: #cbc0d3;
    display: flex;
    margin-top: 2rem;
    @media screen and (max-width: 499px) {
        max-height: fit-content; 
    }
    @media screen and (min-width: 500px) {
        margin-top: 3rem;
    }
    @media screen and (min-width: 640px) {
        margin-top: 4rem;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 5rem;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 6rem;
    }
    @media screen and (min-width: 1600px) {
        margin-top: 7rem;
    }
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.featured-img-left, .featured-img-right {
        display: none;
    @media screen and (min-width: 640px) {
        width: 60%;
        object-fit: cover;
        display: block;
    }
}
.featured-img-left-mobile, .featured-img-right-mobile {
    display: block;
    object-fit: cover;
    width: 40%;
    @media screen and (min-width: 640px) {
        display: none;
    }
}

.featured-img-left, .featured-img-left-mobile {
    border-radius: 30px 0 0 30px;
}

.featured-img-right, .featured-img-right-mobile {
    border-radius: 0 30px 30px 0;
}

.featured-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.featured-project p {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
        font-size: 14px;
    @media screen and (min-width: 640px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 22px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 30px;
    }
}

.featured-text a.button, #btn-all-projects {
    display: block;
    width: fit-content;
    margin: auto;
        scale: 100%;

    @media screen and (min-width: 640px) {
        scale: 125%;
    }
    @media screen and (min-width: 1024px) {
        scale: 150%;
    }
    @media screen and (min-width: 1200px) {
        scale: 175%;
    }
    @media screen and (min-width: 1440px) {
        scale: 200%;
    }
}

#btn-all-projects {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    @media screen and (min-width: 1024px) {
        margin-top: 4rem;
    }
    @media screen and (min-width: 1600px) {
        margin-top: 8rem;
    }
}






.contact {
    position: relative;
    background-image: url(/images/bgshape-bottom.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    top: -2rem;
    @media screen and (min-width: 500px) {
        margin-top: -5rem;
    }
    @media screen and (min-width: 640px) {
        margin-top: -4rem;
    }
    @media screen and (min-width: 1024px) {
        margin-top: -6rem;
    }
    @media screen and (min-width: 1200px) {
        margin-top: -7rem;
    }
    @media screen and (min-width: 1600px) {
        margin-top: -8rem;
    }
}

.contact>h3 {
    padding-top: 4rem;
}

.form-box {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #cbc0d3;
    border-radius: 30px;
    margin-top: -8rem;
    width: 90%;
    @media screen and (max-width: 639px) {
        width: 90%;
    }
    @media screen and (min-width:640px) {
        width: 60%;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 4rem;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 15rem;
        scale: 125%;
    }
    @media screen and (min-width: 1600px) {
        margin-top: 20rem;
        scale: 150%;
    }
    @media screen and (min-width: 2000px) {
        margin-top: 30rem;
        scale: 150%;
    }

}
.form-box button {
    position: relative;
    bottom: -0.5rem;
}
textarea {
    resize: vertical;
    min-height: 100px;
    margin-bottom: 0px;
}

input, textarea {
    margin: 1rem;
    padding: 1rem;
}

.bg-color-bottom {
    background-color: #f2edf5;
    margin-top: 10rem;
    padding-bottom: 6rem;
    @media screen and (max-width: 1023px) {
    margin-top: 6rem;
    padding-bottom: 0;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 10rem;
        padding-bottom: 10rem;
    }
}

footer {
    background-color: #cbc0d3;
    width: 100%;
    max-height: 200px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
    text-align: center;
}
hr {
    text-decoration: none;
    width: 70%;
    stroke: 1px;
    color: #4c2b63;
}
.footerImgs {
    margin: 0.2rem;
    width: 50px;
    height: 50px;
    background-color: white; /* remove later */
    border-radius: 100%;
}